version: "3.9"

volumes:
  sensor_metadata:
  final_metrics:

services:
  sensor:
    image: age-sensor:${TAG:-latest}
    build:
      context: .
      dockerfile: Dockerfile.sensor
    environment:
      - DEFENSE_MODE=${DEFENSE_MODE:-baseline}
    volumes:
      - sensor_metadata:/metrics

  attacker:
    image: age-attacker:${TAG:-latest}
    build:
      context: .
      dockerfile: Dockerfile.attacker
    depends_on:
      sensor:
        condition: service_completed_successfully
    volumes:
      - sensor_metadata:/data_in